    /* --- ESTILOS GENERALES --- */
body {
    background-color: #121212; /* Fondo oscuro tipo gamer */
    color: #3afff8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
}

/* --- ENCABEZADO (HEADER) --- */
header {
    display: flex   ;
    align-items: center;
    border: 2px solid #333;
    padding: 10px 20px;
    margin-bottom: 30px;
    background-color: #1e1e1e;
}

.logo {
    flex: 1;
}

.logo h1 {
    margin: 0;
    color: #3afff8  ;
    text-transform: uppercase;
    border: 2px solid #3afff8   ;
    padding: 10px 20px;
    display: inline-block;
}

.navegacion a {
    color: #3afff8;
    text-decoration: none;
    margin: 0 5px;
    font-weight: bold;
    text-align: center;
}

.usuario {
    flex: 1;
    display: flex;
    justify-content: flex-end; 
    text-decoration: none;
}

.btn-sesion {
    background: transparent;
    color: #3afff8;
    border: 2px solid #3afff8;
    padding: 8px 15px;
    cursor: pointer;
    text-decoration: none;
}


/* --- TÍTULOS DE SECCIÓN --- */
.titulo-seccion {
    text-align: center;
    font-size: 1.2rem;
    margin: 20px 0 10px 0;
    letter-spacing: 2px;
    color: #3afff8;
}

/* --- novedades --- */
.anuncios {
    display: flex;
    border: 4px solid #3afff8;
    border-radius: 30px;
    overflow: hidden;
    height: 300px;
    margin-bottom: 30px;
}

.anuncios img {
    width: 19.9%; 
    height: 100%;
    object-fit: cover; /* Esto hace que la imagen rellene el espacio sin deformarse */
    border-right: 3px solid #000000; /* Una pequeña línea separadora negra entre cada imagen */
}


/* --- CATALOGO --- */
.catalogo-container {
    border: 3px solid #3afff8;
    padding: 15px 10px;
    background-color: #000000;
    margin: auto;   
    border-radius: 20px; 
    width: 70%;
}

.catalogo {
    display: flex;
    justify-content: space-around;
}

.catalogo a {
    display: flex;
    justify-content: center;
}

.catalogo img {
    width: 95%;   
}

/* =========================================
   DISEÑO PARA CELULARES
   ========================================= */
@media (max-width: 768px) {
    
    /* 1. Apilamos el menú superior hacia abajo */
    header {
        flex-direction: column;
        gap: 15px; /* Espacio entre el logo, los enlaces y el botón */
        padding: 15px;
    }

    /* Centramos el contenedor del botón de sesión */
    .usuario {
        justify-content: center; 
    }

    .anuncios {
        display: flex;
        flex-wrap: nowrap !important; /* Mantiene las 5 fotos en una sola línea */
        height: 100px !important; /* OBLIGAMOS a la caja y al borde cian a medir solo 150px de alto */
    }

    .anuncios img {
        width: 20%; /* Como son 5 fotos, cada una ocupa el 20% del ancho */
        height: 100% !important; /* La foto ocupa exactamente los 150px de la caja */
        object-fit: cover;
    }

    .catalogo-container{
        padding: 15px 1px;
    /* Estirar hacia arriba y abajo */
    }

    .catalogo {
    flex-wrap: wrap; /* Permite que las fotos bajen a la siguiente línea para no estar apretadas */
    justify-content: center;
    gap: 15px;
    }

    .catalogo a {
        width: 40%; /* Al ocupar casi la mitad de la pantalla, se verán más grandes (2 por fila) */
        display: flex;
        justify-content: center;

    }
    

    .catalogo img {
        width: 100%; /* Rellena el espacio que le dimos arriba */
    }


}
